include layout.jade
block content

    h1= title
    p Welcome to #{title}

    form(method="GET", target="", class="form")
        div(class="form-group")
            - var select_list = data.select_list;
            - var champ_id = data.champ_1_id;
            - var champ_lv = data.champ_1_lv;
            - var champ_add_ad = data.champ_1_add_ad;
            - var input_label_value = '自分'
            - var input_select_id_name = 'champ_1_id';
            - var input_select_lv_name = 'champ_1_lv';
            - var input_add_ad_name = 'champ_1_add_ad';
            include inc_champ_select.jade
        div(class="form-group")
            - var select_list = data.select_list;
            - var champ_id = data.champ_2_id;
            - var champ_lv = data.champ_2_lv;
            - var champ_add_ad = data.champ_2_add_ad;
            - var input_label_value = '相手'
            - var input_select_id_name = 'champ_2_id';
            - var input_select_lv_name = 'champ_2_lv';
            - var input_add_ad_name = 'champ_2_add_ad';
            include inc_champ_select.jade
        div(class="form-group")
            input(type="submit", name="champ_select", value="選択", class="btn btn-success")

    -if(data.champ_stats != null){
        div(class="pull-left")
            - var champ = data.champ_stats.champ_1
            - var champ_detail = data.champ_stats.champ_1_detail
            - var champ_damage = data.champ_stats.champ_1_damage
            - var input_label_value = '自分'
            include inc_champ_stats.jade
        div(class="pull-left")
            - var champ = data.champ_stats.champ_2
            - var champ_detail = data.champ_stats.champ_2_detail
            - var champ_damage = data.champ_stats.champ_2_damage
            - var input_label_value = '相手'
            include inc_champ_stats.jade
    -}
